@import url("https://unpkg.com/wingcss");

.button {
  margin: 1rem 0.5rem 1rem 0.5rem;
  border-radius: 15px;
}

.root {
  background-color: green;
  text-align: center;
}


.author {
  font-style: italic;
  text-align: center;
}

.quote {
  font-style: italic;
  text-align: center;
  color: red;
}
